* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  font-family: inherit;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo img {
  max-width: 50px;
  margin: 0 100px 0 40px;
  color: white;
}

.content {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  margin-left: 0;
  bottom: 0;
  width: 100%;
}

#conteiner {
  margin: 5% 24%;
  padding: 5%;
  background-color: rgb(237, 234, 230);
  border-radius: 14px;
}
.welcome_msg {
  margin: 5% 10%;
  text-align: center;
}

.form-group {
  margin: 10px;
}

.feedback_data {
  margin: 50px;
}

.feedback_data h2 {
  text-align: center;
  margin: 20px;
}
.review-card {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-card h3 {
  color: #333;
}

.review-card p {
  margin: 5px 0;
  padding: 3px;
}
